.card__container{
    width: 100%;
    max-height: 510px;
    overflow-y: auto;
}
.list__item{
    transition: 0.3s;
}
.list__item:hover{
    background: #1677ff;
}
.list__item_count{
    align-self: flex-end;
    color: rgba(0, 0, 0, 0.45);
}