.task_item {
    display: flex;
    flex-direction: column;
}
.card__container{
    width: 100%;
   /* max-height: 510px;*/
    overflow-y: auto;
}
.buttons_container {
    display: flex;
    margin-top: 10px;
    gap: 3px;
}

